<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BookShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.service.in.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigUpServlet</display-name>
    <servlet-name>SigUpServlet</servlet-name>
    <servlet-class>com.service.in.SigUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigUpServlet</servlet-name>
    <url-pattern>/SigUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookList</display-name>
    <servlet-name>BookList</servlet-name>
    <servlet-class>com.apponix.daos.BookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookList</servlet-name>
    <url-pattern>/BookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgetpassword</display-name>
    <servlet-name>Forgetpassword</servlet-name>
    <servlet-class>com.service.in.Forgetpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgetpassword</servlet-name>
    <url-pattern>/Forgetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalListServlet</display-name>
    <servlet-name>FinalListServlet</servlet-name>
    <servlet-class>com.apponix.daos.FinalListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalListServlet</servlet-name>
    <url-pattern>/FinalListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.apponix.daos.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.apponix.daos.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.service.in.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.service.in.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.service.in.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemsServlet</display-name>
    <servlet-name>AddItemsServlet</servlet-name>
    <servlet-class>com.service.in.AddItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemsServlet</servlet-name>
    <url-pattern>/AddItemsServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>HitCount</display-name>
    <filter-name>HitCount</filter-name>
    <filter-class>com.apponix.filter.HitCount</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HitCount</filter-name>
    <url-pattern>/HitCount</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBookServlet</display-name>
    <servlet-name>RemoveBookServlet</servlet-name>
    <servlet-class>com.service.in.RemoveBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookServlet</servlet-name>
    <url-pattern>/RemoveBookServlet</url-pattern>
  </servlet-mapping>
</web-app>